openapi: 3.1.0

info:
  title: Eligibility API v1
  version: '1.1'
  description: |
    The Eligibility API provides tools to enhance logistics operations, including delivery coverage checks,
    smart window configurations, and address confidence scoring. It is designed to integrate seamlessly
    with various provider services and supports customizable orchestration rules for tailored responses.

    **Key Business Values**
    - Enables accurate delivery coverage checks across locations and providers.
    - Supports flexible scheduling through smart window configuration for pickup, delivery, and returns.
    - Improves address quality and fulfillment confidence with address confidence scoring.
    - Helps businesses optimize logistics workflows through configurable orchestration and provider integrations.

servers:
  - url: https://api.lynkup.com/api/eligibility/{version}
    description: Integration hub Production OAuth.
    variables:
      version:
       default: v1
       enum:
         - v1

tags:
  - name: "Delivery-Coverage"
    description: "Endpoints related to checking delivery coverage based on location and provider availability"
  - name: "Smart-Windows"
    description: "Smart Windows enables customers to manage their store timings, their pick-and-pack lead time windows, and associated pick-and-pack capacity and cost. It also allows customers to choose suitable windows for pick-up/delivery."
  - name: "Address-Confidence"
    description: "Endpoints for assessing confidence scores and validating drop-off addresses for logistics operations."
security:
  - OAuth2ClientCredentials: []

paths:
  /smart-windows: 
    post:
      summary: Retrieve available pick-up or delivery time windows for a specific location, with optional filtering by provider.
      description: |
        The Smart Windows API allows customers to view configurable time windows for pick-up or delivery based on the specified category, date, and location. This API supports configurations for pick-and-pack lead times, packing times, and associated capacities and costs.
        Time windows can be configured at the Business, Brand, or Location level, and the API provides up to 7 days of time windows. Optionally, the request can include a provider name to retrieve provider-specific time windows. Note that location timings must be configured before retrieving provider-specific windows.

        Each time window takes into account:
          - **Lead Time**: The preparation time required before an item can be picked.
          - **Packing Time**: The time needed to pack an order.

        This API enables flexible scheduling by providing a tailored view of available time windows, helping customers select suitable options for their operational needs.


      operationId: getSmartWindows
      tags:
        - Smart-Windows
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartWindowRequest'
            examples:
              GetSmartWindows:
                value:
                  locationExternalIds:
                    - '100983'
                  startDate: '2025-01-01'
                  numberOfDays: 2
                  types:
                    - delivery
                  categories:
                    - Prime
                  providerCheck: false
              GetSmartWindowsWithProvider:
                value:
                  locationExternalIds:
                    - '5101'
                  numberOfDays: 1
                  provider: PickupNow
              GetReturnWindows:
                value:
                  locationExternalIds:
                    - '100983'
                  numberOfDays: 2
                  types:
                    - return
                  categories:
                    - Return 
      responses:
        '200':
          description: "Request was successful"
          content:
            application/json:
              examples:
                Result:
                  value:
                    message: "success"
                    data:
                      - locationExternalId: "100983"
                        timeZone: "America/Chicago"
                        delivery:
                          - category: "Prime"
                            pickAndPack: 30
                            date: "2025-01-01"
                            windows:
                              - pickupTime:
                                  startsAt: 1735747200000
                                deliveryTime:
                                  startsAt: 1735747200000
                                  endsAt: 1735754400000
                                tz: "America/Chicago"
                                windowId: null
                                provider: null
                                available: -1
                              - pickupTime:
                                  startsAt: 1735754400000
                                deliveryTime:
                                  startsAt: 1735754400000
                                  endsAt: 1735761600000
                                tz: "America/Chicago"
                                windowId: null
                                provider: null
                                available: -1
                              - pickupTime:
                                  startsAt: 1735761600000
                                deliveryTime:
                                  startsAt: 1735761600000
                                  endsAt: 1735768800000
                                tz: "America/Chicago"
                                windowId: null
                                provider: null
                                available: -1
                              - pickupTime:
                                  startsAt: 1735768800000
                                deliveryTime:
                                  startsAt: 1735768800000
                                  endsAt: 1735776000000
                                tz: "America/Chicago"
                                windowId: null
                                provider: null
                                available: -1
                          - category: "Prime"
                            pickAndPack: 30
                            date: "2025-01-02"
                            windows:
                              - pickupTime:
                                  startsAt: 1735833600000
                                deliveryTime:
                                  startsAt: 1735833600000
                                  endsAt: 1735840800000
                                tz: "America/Chicago"
                                windowId: null
                                provider: null
                                available: -1
                              - pickupTime:
                                  startsAt: 1735840800000
                                deliveryTime:
                                  startsAt: 1735840800000
                                  endsAt: 1735848000000
                                tz: "America/Chicago"
                                windowId: null
                                provider: null
                                available: -1
                              - pickupTime:
                                  startsAt: 1735848000000
                                deliveryTime:
                                  startsAt: 1735848000000
                                  endsAt: 1735855200000
                                tz: "America/Chicago"
                                windowId: null
                                provider: null
                                available: -1
                              - pickupTime:
                                  startsAt: 1735855200000
                                deliveryTime:
                                  startsAt: 1735855200000
                                  endsAt: 1735862400000
                                tz: "America/Chicago"
                                windowId: null
                                provider: null
                                available: -1
                Response for Provider Specific Window:
                  value:
                    message: "success"
                    data:
                      - locationExternalId: "5101"
                        timeZone: "America/New_York"
                        delivery:
                          - date: "2022-06-21"
                            windows:
                              - pickupTime:
                                  startsAt: 1655823600000
                                deliveryTime:
                                  startsAt: 1655823600000
                                  endsAt: 1655830800000
                                capacity: -1
                                available: -1
                                fee: 0
                                windowId: "5101_637914060000000000_2_5"
                                provider: "PickupNow"
                              - pickupTime:
                                  startsAt: 1655830800000
                                deliveryTime:
                                  startsAt: 1655830800000
                                  endsAt: 1655838000000
                                capacity: -1
                                available: -1
                                fee: 0
                                windowId: "5101_637914132000000000_2_5"
                                provider: "PickupNow"
                              - pickupTime:
                                  startsAt: 1655838000000
                                deliveryTime:
                                  startsAt: 1655838000000
                                  endsAt: 1655845200000
                                capacity: -1
                                available: -1
                                fee: 0
                                windowId: "5101_637914204000000000_2_5"
                                provider: "PickupNow"
                            category: null
                            pickAndPack: 30
                Response if Location is closed:
                  value:
                    message: "success"
                    data:
                      - locationExternalId: "100983"
                        timeZone: "America/Chicago"
                        delivery:
                          - category: "Prime"
                            pickAndPack: 30
                            date: "2025-12-25"
                            windows: []
              schema:
                anyOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: success
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            locationExternalId:
                              type: string
                              example: "100983"
                            timeZone:
                              type: string
                              example: "America/Chicago"
                            delivery:
                              type: array
                              items:
                                type: object
                                properties:
                                  category:
                                    type: string
                                    example: Prime
                                  pickAndPack:
                                    type: integer
                                    example: 30
                                    default: 0
                                  date:
                                    type: string
                                    example: "2025-01-01"
                                  windows:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        pickupTime:
                                          type: object
                                          properties:
                                            startsAt:
                                              type: integer
                                              example: 1735747200000
                                              default: 0
                                        deliveryTime:
                                          type: object
                                          properties:
                                            startsAt:
                                              type: integer
                                              example: 1735747200000
                                              default: 0
                                            endsAt:
                                              type: integer
                                              example: 1735754400000
                                              default: 0
                                        tz:
                                          type: string
                                          example: "America/Chicago"
                                        windowId: {}
                                        provider: {}
                                        available:
                                          type: integer
                                          example: -1
                                          default: 0
                  - title: Response for Provider Specific Window
                    type: object
                    properties:
                      message:
                        type: string
                        example: success
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            locationExternalId:
                              type: string
                              example: "5101"
                            timeZone:
                              type: string
                              example: "America/New_York"
                            delivery:
                              type: array
                              items:
                                type: object
                                properties:
                                  date:
                                    type: string
                                    example: "2022-06-21"
                                  windows:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        pickupTime:
                                          type: object
                                          properties:
                                            startsAt:
                                              type: integer
                                              example: 1655823600000
                                              default: 0
                                        deliveryTime:
                                          type: object
                                          properties:
                                            startsAt:
                                              type: integer
                                              example: 1655823600000
                                              default: 0
                                            endsAt:
                                              type: integer
                                              example: 1655830800000
                                              default: 0
                                        capacity:
                                          type: integer
                                          example: -1
                                          default: 0
                                        available:
                                          type: integer
                                          example: -1
                                          default: 0
                                        fee:
                                          type: integer
                                          example: 0
                                          default: 0
                                        windowId:
                                          type: string
                                          example: "5101_637914060000000000_2_5"
                                        provider:
                                          type: string
                                          example: PickupNow
                                  category: {}
                                  pickAndPack:
                                    type: integer
                                    example: 30
                                    default: 0
                  - title: Response if Location is closed
                    type: object
                    properties:
                      message:
                        type: string
                        example: success
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            locationExternalId:
                              type: string
                              example: "100983"
                            timeZone:
                              type: string
                              example: "America/Chicago"
                            delivery:
                              type: array
                              items:
                                type: object
                                properties:
                                  category:
                                    type: string
                                    example: Prime
                                  pickAndPack:
                                    type: integer
                                    example: 30
                                    default: 0
                                  date:
                                    type: string
                                    example: "2025-12-25"
                                  windows:
                                    type: array
                                    items: {}
        "422":
          description: "Processing failed as request contains invalid data"
          headers: 
            apierrorcode:  
              required: true
              description: 'The API error code'
              schema: 
                type: string 
            apierrormsg:  
              required: true
              description: 'The API error message.'
              schema: 
                type: string 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidRequest"
              examples:
                Result:
                  value:
                    errors:
                      - type: "INVALID_DATA"
                        message: "No such locationExternalId exist. Please enter a valid one."
                        parameter: locationExternalId
                        entityId: location-1
                        entity: location
                    type: "INVALID_DATA"
                    message: "No such locationExternalId exist. Please enter a valid one."
        '404':
          description: "Resource was not found"
          headers: 
            apierrorcode:  
              required: true
              description: 'The API error code'
              schema: 
                type: string 
            apierrormsg:  
              required: true
              description: 'The API error message.'
              schema: 
                type: string 
          content:
            application/json:
              examples:
                Location Timings Not Found:
                  value:
                    message: "Location Timings is not found"
                    type: "NOT_FOUND"
                    errors:
                      - type: "NOT_FOUND"
                        message: "Location Timings is not found" 
                        parameter: null
                        entityId: null
                        entity: null 
        '500':
          description: "Internal server error"
          headers: 
            apierrorcode:  
              required: true
              description: 'The API error code'
              schema: 
                type: string 
            apierrormsg:  
              required: true
              description: 'The API error message.'
              schema: 
                type: string
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/InvalidRequest'
              examples:
                Internal Server Error:
                  value:
                    message: "An unexpected error occurred. Please try again later."
                    type: "INTERNAL_SERVER_ERROR"
                    errors:
                      - type: "SERVER_ERROR"
                        message: "An unexpected error occurred while processing the request."
        "401":
          description: Unauthorized
          headers: 
            bkndtransid:
              required: true
              description: The backend transaction id.
              schema: 
                type: string
            transId:
              description: The transaction id received from client
              schema: 
                type: string
            apierrorcode:  
              required: true
              description: 'The API error code'
              schema: 
                type: string 
            apierrormsg:  
              required: true
              description: 'The API error message.'
              schema: 
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UPSErrorResponse'
              example:
                response:
                 errors:
                  - code: UJ0001
                    message: Invalid token or token is not present.
      deprecated: false

  /coverage/{services}:
    post:
      summary: "Check Coverage Eligibility"
      tags:
        - Delivery-Coverage
      description: |
        This endpoint verifies delivery coverage for the requested services. The available services include:
         - **Location Coverage**: Determines if the delivery address falls within the coverage area of any location and returns a list of locations that can service the address.

         - **Provider Coverage**: Checks if at least one provider associated with a location offers delivery coverage.

         - **Location + Provider Coverage**: Provides a combined check for both location and provider coverage.
      operationId: "checkCoverage"
      parameters:
        - name: services
          in: path
          required: true
          description: The service type to check coverage for.
          schema:
            type: string
            enum:
              - provider-coverage
              - location-coverage
              - location-provider-coverage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeliveryAssuranceRequest"
            examples:
              LocationboundaryCheckWithOnlyPostalCode:
                summary: "Locationboundary check with only postalCode"
                value:
                  deliveryAddress:
                    postalCode: "75206"
                    countryCode: "US"
              CheckingProviderAvailabilityForAddressAndTimeWindow:
                summary: "Checking provider availability for an address and time window"
                value:
                  locationExternalId: "100940"
                  deliveryAddress:
                    street1: "5718 Ellsworth Ave"
                    city: "Dallas"
                    state: "Texas"
                    postalCode: "75206"
                    countryCode: "US"
                  pickupTime:
                    startsAt: 1651277722000
                  deliveryTime:
                    endsAt: 1651288522000
              UsingTagsToSegregateBoundariesAndProviders:
                summary: "Using tags to segregate boundaries & providers"
                value:
                  deliveryAddress:
                    street1: "6161 Trail Glen Drive"
                    city: "Dallas"
                    state: "Texas"
                    postalCode: "75217"
                    countryCode: "US"
                    latitude: 32.7143544281459
                    longitude: -96.7157876717065
                  matchProviderTags:
                    - "nightDelivery"
                  matchBoundaryTags:
                    - "nightDelivery"
              FindNearestPickupLocations:
                summary: "Find nearest locations from a deliveryAddress irrespective of boundaries"
                value:
                  deliveryAddress:
                    street1: "6161 Trail Glen Drive"
                    city: "Dallas"
                    state: "Texas"
                    postalCode: "75217"
                    countryCode: "US"
                    latitude: 32.7143544281459
                    longitude: -96.7157876717065
                  nearestPickup:
                    radius: 10
                  sortByDistance: true
              ProviderCheckWithOnlyPostalCode:
                summary: "Provider check with only PostalCode"
                value:
                  deliveryAddress:
                    postalCode: "75206"
                    countryCode: "US"
              CheckingBoundaryAndProviderCoverage:
                summary: "Checking boundary and provider coverage"
                value:
                  deliveryAddress:
                    street1: "5718 Ellsworth Ave"
                    city: "Dallas"
                    state: "Texas"
                    postalCode: "75206"
                    countryCode: "US"
              UsingTagsToSegregateLocations:
                summary: "Using tags to segregate locations"
                value:
                  deliveryAddress:
                    street1: "11111 Research Blvd"
                    city: "Houston"
                    state: "Texas"
                    postalCode: "78759"
                    countryCode: "US"
                  matchLocationTags:
                    - "heavy"
              ShowFulfillmentOptionsAndBoundaries:
                summary: "Location coverage with fulfillment options and boundaries"
                value:
                  deliveryAddress:
                    street1: "5718 Ellsworth Ave"
                    city: "Dallas"
                    state: "Texas"
                    postalCode: "75206"
                    countryCode: "US"
                  showFulfillmentOptions: true
                  showBoundaries: true
      responses:
        '200':
          description: "Request was successful"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryAssuranceServiceResponse"
              examples:
                LocationboundaryCheckWithOnlyPostalCode:
                  summary: "Locationboundary check with only PostalCode"
                  value:
                    locationCoverage:
                      locations:
                        - "100983"
                        - "100940"
                        - "100987"
                CheckingProviderAvailabilityForAddressAndTimeWindow:
                  summary: "Checking provider availability for an address and time window"
                  value:
                    providerCoverage:
                      providers:
                        - "DoorDash"
                UsingTagsToSegregateBoundariesAndProviders:
                  summary: "Using tags to segregate boundaries & providers"
                  value:
                    locationProviderCoverage:
                      locations:
                        - "100940"
                      errors: []
                FindNearestPickupLocations:
                  summary: "Find nearest locations from a deliveryAddress irrespective of boundaries"
                  value:
                    locationCoverage:
                      locations:
                        - "100940"
                        - "100987"
                        - "1106"
                        - "4652"
                        - "100983"
                      distances:
                        - locationExternalId: "100940"
                          distance: 3.96
                          unit: "miles"
                        - locationExternalId: "100987"
                          distance: 6.91
                          unit: "miles"
                        - locationExternalId: "1106"
                          distance: 8.32
                          unit: "miles"
                        - locationExternalId: "4652"
                          distance: 8.85
                          unit: "miles"
                        - locationExternalId: "100983"
                          distance: 9.21
                          unit: "miles"
                NoLocationAvailableToDeliverToAddress:
                  summary: "No location is available to deliver to address"
                  value:
                    locationCoverage:
                      locations: []
                NoProviderAvailableToDeliverToAddress:
                  summary: "No provider is available to deliver to address"
                  value:
                    providerCoverage:
                      providers: []
                      errors:
                        - entityId: "DoorDash"
                          entity: "DoorDash_123"
                          type: "OUTSIDE_THE_COVERAGE_AREA"
                          message: "Dropoff address not within service area: dropoff_address"
                        - entityId: "Roadie"
                          entity: "Roadie"
                          type: "OUTSIDE_THE_COVERAGE_AREA"
                          message: "Route Sorry, distance in passenger vehicles is limited to 30 miles."
                          parameter: null
                        - message: "No Provider matched to deliver this order. Please try again"
                          type: "NO_PROVIDER_MATCHED"
                          parameter: null
                          entityId: null
                          entity: null
                ProviderCheckWithOnlyPostalCode:
                  summary: "Provider check with only PostalCode"
                  value:
                    providerCoverage:
                      providers:
                        - "DoorDash"
                CheckingBoundaryAndProviderCoverage:
                  summary: "Checking boundary and provider coverage"
                  value:
                    locationProviderCoverage:
                      locations:
                        - "100983"
                        - "100940"
                        - "100987"
                      errors: []
                UsingTagsToSegregateLocations:
                  summary: "Using tags to segregate locations"
                  value:
                    locationProviderCoverage:
                      locations:
                        - "LTAGS"
                      errors: []
                ShowFulfillmentOptionsAndBoundaries:
                  summary: "Location coverage with fulfillment options and boundaries"
                  value:
                    locationCoverage:
                      locations:
                        - "100983"
                      fulfillments:
                        - locationExternalId: "100983"
                          provider: "DoorDash"
                          serviceType: "same_day"
                      boundaries:
                        - locationExternalId: "100983"
                          name: "75206"
                          tags:
                            - "75206"
                          selected: true
        '400':
          description: "Bad Request"
          headers: 
            apierrorcode:  
              required: true
              description: 'The API error code'
              schema: 
                type: string 
            apierrormsg:  
              required: true
              description: 'The API error message.'
              schema: 
                type: string 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidRequest"
              examples:
                Date range greater than 30 days:
                  value: 
                    errors:
                      - type: "INVALID_DATA"
                        message: Delivery Address not provided.
                        parameter: deliveryAddress
                        entityId: null
                        entity: null
                    type: "INVALID_DATA"
                    message: Delivery Address not provided.
        '500':
          description: "Internal server error"
          headers: 
            apierrorcode:  
              required: true
              description: 'The API error code'
              schema: 
                type: string 
            apierrormsg:  
              required: true
              description: 'The API error message.'
              schema: 
                type: string
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/InvalidRequest'
              examples:
                Internal Server Error:
                  value:
                    message: "An unexpected error occurred. Please try again later."
                    type: "INTERNAL_SERVER_ERROR"
                    errors:
                      - type: "SERVER_ERROR"
                        message: "An unexpected error occurred while processing the request."
        '401':
          description: Unauthorized
          headers: 
            bkndtransid:
              required: true
              description: The backend transaction id.
              schema: 
                type: string
            transId:
              description: The transaction id received from client
              schema: 
                type: string
            apierrorcode:  
              required: true
              description: 'The API error code'
              schema: 
                type: string 
            apierrormsg:  
              required: true
              description: 'The API error message.'
              schema: 
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UPSErrorResponse'
              example:
                response:
                  errors:
                  - code: UJ0001
                    message: Invalid token or token is not present.
      deprecated: false
  
  /confidence-score/{logistics_type}:
    post:
      summary: "Check Confidence Score"
      tags:
        - Address-Confidence
      description: |
        This endpoint provides a confidence score for a specified drop-off address. The `logistics_type` parameter specifies the type of logistics (e.g., forward).
      operationId: "checkConfidenceScore"
      parameters:
        - name: logistics_type
          in: path
          required: true
          description: The type of logistics (e.g., forward).
          schema:
            type: string
            enum:
              - forward
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeliveryAssuranceConfidenceScoreRequest"
            examples:
              ConfidenceScore:
                summary: "Confidence Score"
                value:
                  deliveryAddress:
                    street1: "37124 PARKWAY DR"
                    city: "BEAUMONT"
                    state: "CA"
                    postalCode: "92223"
      responses:
        '200':
          description: "Request was successful"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryAssuranceConfidenceScoreResponse"
              examples:
                ConfidenceScore:
                  summary: "Confidence Score"
                  value:
                    confidenceScore:
                      score:
                        addressScore: '972'
                      scoredAddress: 
                        street1: "37124 PARKWAY DR"
                        city: "BEAUMONT"
                        state: "CA"
                        postalCode: "92223"
                      isResidential: true
        '204':
          description: |
             No confidence score is available. The request was processed successfully, 
             but no content is available to return due to insufficient historical data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliveryAssuranceConfidenceScoreResponse"
              examples:
                ConfidenceScore:
                  summary: "Confidence Score"
                  value:
                    confidenceScore:
                      score:
                        addressScore: null
                      scoredAddress: 
                        street1: "37124 PARKWAY DR"
                        city: "BEAUMONT"
                        state: "CA"
                        postalCode: "92223"

        '400':
          description: "Bad Request"
          headers: 
            apierrorcode:  
              required: true
              description: 'The API error code'
              schema: 
                type: string 
            apierrormsg:  
              required: true
              description: 'The API error message.'
              schema: 
                type: string 
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidRequest"
              examples:
                Date range greater than 30 days:
                  value: 
                    errors:
                      - type: "INVALID_DATA"
                        message: Delivery Address not provided.
                        parameter: deliveryAddress
                        entityId: null
                        entity: null
                    type: "INVALID_DATA"
                    message: Delivery Address not provided.
        '500':
          description: "Internal server error"
          headers: 
            apierrorcode:  
              required: true
              description: 'The API error code'
              schema: 
                type: string 
            apierrormsg:  
              required: true
              description: 'The API error message.'
              schema: 
                type: string
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/InvalidRequest'
              examples:
                Internal Server Error:
                  value:
                    message: "An unexpected error occurred. Please try again later."
                    type: "INTERNAL_SERVER_ERROR"
                    errors:
                      - type: "SERVER_ERROR"
                        message: "An unexpected error occurred while processing the request."
        '401':
          description: Unauthorized
          headers: 
            bkndtransid:
              required: true
              description: The backend transaction id.
              schema: 
                type: string
            transId:
              description: The transaction id received from client
              schema: 
                type: string
            apierrorcode:  
              required: true
              description: 'The API error code'
              schema: 
                type: string 
            apierrormsg:  
              required: true
              description: 'The API error message.'
              schema: 
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UPSErrorResponse'
              example:
                response:
                  errors:
                  - code: UJ0001
                    message: Invalid token or token is not present.
      deprecated: false

components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          x-tokenEndpointAuthMethod: client_secret_basic
          tokenUrl: https://api.lynkup.com/ent-services/security/v1/oauth/token
          scopes: {}
  
  schemas: 
    Address:
      type: object
      description: Address of the location
      required:
        - postalCode
      properties:
        street1:
          type: string
          description: Address Line 1 (Street Number and Street Name)
          maxLength: 100
        street2:
          type: string
          description: Address Line 2 (not to be used for apartment / suite #)
          maxLength: 100
        apartmentNumber:
          type: string
          description: Apartment / Suite #
          maxLength: 50
        city:
          type: string
          description: City
          maxLength: 100
        state:
          type: string
          description: State
          maxLength: 100
        postalCode:
          type: string
          description: Postal code or zip.
          maxLength: 20
        countryCode:
          type: string
          description: 2-letter country code in ISO 3166-1 alpha-2 format. If not provided defaults to 'US'.
          default: US
          enum: 
            - US
            - CA
            - GB
            - AU
            - IE
        latitude:
          description: The angular distance of a place north (+) or south (-) of the earth's equator as per ISO 6709 standards.
          anyOf: 
            - type: number
              format: double
              minLength: 1
              maxLength: 10
              minimum: -90.000000
              maximum: 90.000000
              example: 33.943497
            - type: 'null'
        longitude:
          type: number
          format: double
          description: The angular distance of a place east (+) or west (-) of the Greenwich (prime) meridian as per ISO 6709 standards.
          minLength: 1
          maxLength: 12
          minimum: -180.0000000
          maximum: 180.0000000
          example: -84.3595029
      example:
        street1: "5718 Ellsworth Ave"
        city: "Dallas"
        state: "Texas"
        postalCode: "75206"
        countryCode: "US"
        latitude: 32.714354
        longitude: -96.715788
    ConfidenceScoreAddress:
      type: object
      description: Address of the location
      required:
        - street1
        - city
        - state
        - postalCode
      properties:
        street1:
          type: string
          description: Address Line 1 (Street Number and Street Name)
          maxLength: 100
        street2:
          type: string
          description: Address Line 2 (not to be used for apartment / suite #)
          maxLength: 100
        apartmentNumber:
          type: string
          description: Apartment / Suite #
          maxLength: 50
        city:
          type: string
          description: City
          maxLength: 100
        state:
          type: string
          description: State
          maxLength: 100
        postalCode:
          type: string
          description: Postal code or zip.
          maxLength: 20
        countryCode:
          type: string
          description: 2-letter country code in ISO 3166-1 alpha-2 format. If not provided defaults to 'US'.
          default: US
          enum: 
            - US
            - CA
            - GB
            - AU
            - IE
        latitude:
          description: The angular distance of a place north (+) or south (-) of the earth's equator as per ISO 6709 standards.
          anyOf: 
            -  type: number
               format: double
               minLength: 1
               maxLength: 10
               minimum: -90.000000
               maximum: 90.000000
               example: 33.943497
            -  type: 'null'
        longitude:
          type: number
          format: double
          description: The angular distance of a place east (+) or west (-) of the Greenwich (prime) meridian as per ISO 6709 standards.
          minLength: 1
          maxLength: 12
          minimum: -180.0000000
          maximum: 180.0000000
          example: -84.3595029
      example:
        street1: "37124 PARKWAY DR"
        city: "BEAUMONT"
        state: "CA"
        postalCode: "92223"
        countryCode: "US"
        latitude: 33.943497
        longitude: -84.359503
    
    FulfillmentOption:
      type: object
      description: "Fulfillment option supported by a location. Present only when showFulfillmentOptions is true."
      properties:
        locationExternalId:
          type: string
          example: "100983"
        provider:
          type: string
          example: "DoorDash"
        serviceType:
          type: string
          example: "same_day"
      example:
        locationExternalId: "100983"
        provider: "DoorDash"
        serviceType: "same_day"

    Boundary:
      type: object
      description: "Store boundary polygon for a location. Present only when showBoundaries is true."
      properties:
        locationExternalId:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^[a-zA-Z0-9_-]{1,100}$
          example: "100983"
        name:
          type: string
          minLength: 1
          maxLength: 100
          pattern: ^[a-zA-Z0-9_-]{1,100}$
          example: "75206"
        tags:
          type: array
          minItems: 0
          maxItems: 20
          items:
            type: string
            minLength: 1
            maxLength: 100
            pattern: ^[a-zA-Z0-9_-]{1,100}$
          example:
            - "75206"
        selected:
          type: boolean
          example: true
      example:
        locationExternalId: "100983"
        name: "75206"
        tags:
          - "75206"
        selected: true
    
    DeliveryAssuranceRequest:
      type: object
      required:
        - deliveryAddress
      properties:
        locationExternalId:
          type: string
          maxLength: 100
          description: "Required when utilising provider service. If ```locationExternalId``` is provided for ```location-coverage``` service, the location boundary check will be limited to that location."
        deliveryAddress:
          $ref: '#/components/schemas/Address'
        matchBoundaryTags:
          type: array
          description: "Match locations whose boundaries have at least one of the tags (eg: ```\"tags\":[\"sdd\",\"fleet\"]```) that are passed in an array and cover the dropoff address."
          items:
            type: string
        matchProviderTags:
          type: array
          description: "All the providers matching at least one tag are returned. This is only available for the provider and location-provider-coverage services."
          items:
            type: string
        pickupTime:
          oneOf:         
            - $ref: "#/components/schemas/TimingWindow"
              description: "Check provider availability based on pickup time. If not provided, the system will use the appropriate time window. If pickupTime is *null* then it means that the package needs to be picked as soon as possible."
            -  type: 'null'        
        deliveryTime:
          oneOf:                           
            - $ref: "#/components/schemas/TimingWindow"
              description: "Check provider availability based on drop-off time. If not provided, the system will use the appropriate time window. If delivery time is *null* then it means that the package needs to be dropped off as soon as possible after the pickup."
            - type: 'null'         
        sortByDistance:
          type: boolean
          description: "When true, it returns all the locations that cover the deliveryAddress sorted in the ascending order by distance."
        nearestPickup:
          type: object
          description: "Fetches the nearest locations that serve the deliveryAddress for a given radius. When this field is provided, the coverage boundaries associated with the locations are ignored. This is only available for the location-coverage and location-provider-coverage services."
          required:
            - radius
          properties:
            radius:
              type: number
              description: "The radius (in miles) within which the locations need to be searched for."
              format: float
            count:
              type: integer
              description: "Limit the Number of locations in the response. locations are first sorted by distance i.e nearest appears first in list, and then limited by count."
              format: int32
        showFulfillmentOptions:
          type: boolean
          description: "When true, it returns the order type and provider services supported by the location."
        showBoundaries:
          type: boolean
          description: "When true, it returns the store boundary polygons for the matching locations."
        bypassCache:
          type: boolean
          description: "If caching is enabled in the business profile to reduce latency, customers can bypass the cache for this API by including bypassCache set to true in their request"
        matchLocationTags:
          type: array
          description: "All the locations matching at least one tag are returned. This is only available for the location-coverage and location-provider-coverage services."
          items:
            type: string
      example:
        locationExternalId: "100940"
        deliveryAddress:
          street1: "5718 Ellsworth Ave"
          city: "Dallas"
          state: "Texas"
          postalCode: "75206"
          countryCode: "US"
        showFulfillmentOptions: true
        showBoundaries: true
 
    DeliveryAssuranceConfidenceScoreRequest:
      type: object
      required:
        - deliveryAddress
      properties:
        deliveryAddress:
          $ref: '#/components/schemas/ConfidenceScoreAddress'
        bypassCache:
          type: boolean
          description: "If caching is enabled in the business profile to reduce latency, customers can bypass the cache for this API by including bypassCache set to true in their request"
      example:
        deliveryAddress:
          street1: "37124 PARKWAY DR"
          city: "BEAUMONT"
          state: "CA"
          postalCode: "92223"
          countryCode: "US"
        bypassCache: false

    DeliveryAssuranceServiceResponse:
      type: object
      properties:
        providerCoverage:
          type: object
          properties:
            providers:
              type: array
              items:
                type: string
                example: "100983"
            errors:
              type: array
              items: 
                $ref: "#/components/schemas/ErrorDetail"    
            fulfillments:
              type: array
              description: "Returned only when showFulfillmentOptions is true in the request."
              items:
                $ref: "#/components/schemas/FulfillmentOption"
            boundaries:
              type: array
              description: "Returned only when showBoundaries is true in the request."
              items:
                $ref: "#/components/schemas/Boundary"
        locationCoverage:
          type: object
          properties:
            locations:
              type: array
              items:
                type: string
                example: "DoorDash"
            distances:
              type: array
              items:
                type: object
                properties:
                  locationExternalId:
                    type: string
                    example: "100940"
                  distance:
                    type: number
                    example: 3.96
                    default: 0
                  unit:
                    type: string
                    example: "miles"    
            errors:
              type: array
              items:
                $ref: "#/components/schemas/ErrorDetail"
            fulfillments:
              type: array
              description: "Returned only when showFulfillmentOptions is true in the request."
              items:
                $ref: "#/components/schemas/FulfillmentOption"
            boundaries:
              type: array
              description: "Returned only when showBoundaries is true in the request."
              items:
                $ref: "#/components/schemas/Boundary"
        locationProviderCoverage:
          type: object
          properties:
            locations:
              type: array
              items:
                type: string
                example: "100940"
            errors:
              type: array
              items:
                $ref: '#/components/schemas/ErrorDetail'
            fulfillments:
              type: array
              description: "Returned only when showFulfillmentOptions is true in the request."
              items:
                $ref: "#/components/schemas/FulfillmentOption"
            boundaries:
              type: array
              description: "Returned only when showBoundaries is true in the request."
              items:
                $ref: "#/components/schemas/Boundary"
      example:
        locationCoverage:
          locations:
            - "100983"
          fulfillments:
            - locationExternalId: "100983"
              provider: "DoorDash"
              serviceType: "same_day"
          boundaries:
            - locationExternalId: "100983"
              name: "75206"
              tags:
                - "75206"
              selected: true
   
    DeliveryAssuranceConfidenceScoreResponse:
      type: object
      properties:
        confidenceScore:
              type: object
              required: 
                - score
                - scoredAddress
              properties:
                score:
                  description: "AddressScore for the delivery address"
                  type: object
                  properties: 
                    addressScore: 
                      oneOf:
                        - type: string
                        - type: 'null'
                scoredAddress:
                  $ref: "#/components/schemas/Address"
                isResidential:
                  type: boolean
                  description: "To Indicate whether address is Residential or commercial"
                  example: true
                errors: 
                  type: array
                  items: 
                    $ref: "#/components/schemas/ErrorDetail"
      example:
        confidenceScore:
          score:
            addressScore: "972"
          scoredAddress:
            street1: "37124 PARKWAY DR"
            city: "BEAUMONT"
            state: "CA"
            postalCode: "92223"
            countryCode: "US"
          isResidential: true
              
    TimingWindow:
      type: object
      properties:
        startsAt:
          oneOf:
            - type: integer
              description: "Start of the window. Unix time in milliseconds. (conditional)"
              format: int64
            - type: "null"
        endsAt:
          oneOf:
            - type: integer
              description: "End of the window. Unix time in milliseconds. (conditional)"
              format: int64
            - type: "null"
      example:
        startsAt: 1651277722000
        endsAt: 1651288522000

    SmartWindowRequest:
      type: object
      required:
        - locationExternalIds
      properties:
        locationExternalIds:
          type: array
          description: Array of `locationExternalId`. One or many Location Ids for which delivery timings are to be returned.
          items:
            type: string
        categories:
          type: array
          description: Categories of windows to return. Defaults to all categories.
          items:
            type: string
        startDate:
          type: string
          description: |
            Baseline date from which numberOfDays to be calculated. 
            [ISO 8601 Calendar Date](https://en.wikipedia.org/wiki/ISO_8601) 
            (YYYY-MM-DD) as per location's timezone. Defaults to current date.
          format: full-date
          minLength: 10
          maxLength: 10
          pattern: ^(20)\d{2}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
          example: 2025-01-01
        numberOfDays:
          type: integer
          format: int32
          description: Non-zero positive integer indicating how many days of windows to return. Defaults to 1.
        providerCheck:
          type: boolean
          description: |
            Flag to indicate if the system should intelligently check top and bottom windows of each day 
            to ensure providers availability for the start and end. Uses location’s address/postalcode for the check 
            against the providers. Default is false.
          default: false
        types:
          type: array
          description: Type of window timings. Options are pickup, delivery, or return. Defaults to type delivery.
          items:
            type: string
          default:
            - delivery
        provider:
          type: string
          description: Windows will be retrieved from the requested provider instead of matching windows configured at our end.
        options:
          $ref: '#/components/schemas/Options'
      example:
        locationExternalIds:
          - "100983"
        startDate: "2025-01-01"
        numberOfDays: 2
        types:
          - delivery
        categories:
          - Prime
        providerCheck: false

    Options:
      type: object
      description: Override default configured options.
      properties:
        itemList:
          type: array
          items:
            $ref: '#/components/schemas/ItemForSmartWindows'
      example:
        itemList:
          - quantity: 1
            weight:
              value: 1.5
              unit: lb
    
    ItemForSmartWindows:
      type: object
      description: Some Providers require items to fetch the Available Delivery Windows at their end.
      required:
        - quantity
        - weight
      properties:
        quantity:
          type: integer
          format: int32
          description: Number of items. Defaults to 1.
          minimum: 1
        size:
          $ref: '#/components/schemas/Size'
        weight:
          $ref: '#/components/schemas/Weight'
      example:
        quantity: 1
        size:
          height: 10
          width: 8
          length: 6
          unit: in
        weight:
          value: 2.5
          unit: lb
    
    Weight:
      type: object
      description: Weight of an item
      required:
        - value
        - unit
      properties:
        value:
          type: number
          format: double
          description: weight
          minimum: 0
        unit: 
          type: string
          description: units for given weight in kg or lb
          enum: 
            - kg
            - lb
      example:
        value: 2.5
        unit: lb
  
    Size:
      type: object
      description: Dimensions of the item.
      required:
        - height
        - width
        - length
        - unit
      properties:
        height:
          type: number
          format: double
          description: Height
          minimum: 0
        width:
          type: number
          format: double
          description: Width
          minimum: 0
        length:
          type: number
          format: double
          description: Length
          minimum: 0
        unit: 
          type: string
          description: units for given size in cm or in
          enum: 
            - cm
            - in
      example:
        height: 10
        width: 8
        length: 6
        unit: in
            
   
    ErrorDetail:
      type: object
      required: 
        -  type
        -  message
      properties:
        type:
          type: string
        message:
          type: string
        parameter:
          type: 
            - string
            - 'null'
        entityId:
          type: 
            - string
            - 'null'
        entity:
          type: 
            - string
            - 'null'
      example:
        type: "INVALID_DATA"
        message: "Delivery Address not provided."
        parameter: "deliveryAddress"
        entityId: null
        entity: null

    InvalidRequest:
      type: object
      properties:
        type:
          type: string
          example: "ERROR_TYPE"
        message:
          type: string
          example: "An error occurred" 
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
      example:
        type: "INVALID_DATA"
        message: "Delivery Address not provided."
        errors:
          - type: "INVALID_DATA"
            message: "Delivery Address not provided."
            parameter: "deliveryAddress"
            entityId: null
            entity: null

    UPSErrorResponse:
      type: object
      properties:
        response:
            $ref: '#/components/schemas/Response'
      example:
        response:
          errors:
            - code: "UJ0001"
              message: "Invalid token or token is not present."
            
    Response:
      type: object
      properties:
          errors:
            type: array
            description: The error response containing any errors that occurred.
            items:
                $ref: '#/components/schemas/ErrorMessage'
      example:
        errors:
          - code: "UJ0001"
            message: "Invalid token or token is not present."
    
    ErrorMessage:
      type: object
      properties:
        code:
          type: string
          description: The error code.
          example: VSS300
        message:
          type: string
          description: The error message.
          example: Locale is required. The Subscription request has been rejected.
      description: The error response containing any errors that occurred
      example:
        code: "VSS300"
        message: "Locale is required. The Subscription request has been rejected."